.admin-card-wrapper {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;

    background-color: cadetblue;
}