version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend/canvas_dashboard/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
      

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0

  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 0
